
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo
  
node_modules/
frontend/node_modules/
dist/
frontend/dist/
build/
.env
.env.*
*.local


chroma_db/

 
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.env
venv/
.env/
.python-version
pip-log.txt
pip-delete-this-directory.txt


.DS_Store


 
target/
*.class
*.jar
*.war
*.ear
*.log
*.iml
*.project
*.classpath
.settings/
.mvn/
!.mvn/wrapper/maven-wrapper.jar
 
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

*.bak
*.cache

coverage/
htmlcov/
.pytest_cache/



# AI / ML
.cache/
huggingface/
transformers/
